@use "sass:math";
.s320x50,
.s320x100,
.s728x90,
.s970x250,
.s1000x120{
  .content{
    top: 5%;
    left: 5%;
  }
  .row{
    .tag{
      width: auto;
      margin-right: 12px;
    }
    .word{
      width: auto;
      margin-right: 8px;
    }
    &.second{
      margin-top: 4px;
      padding-left: 20px;
    }
    .dash{

    }
  }
  .details{
    bottom: 5%;
    left: 20%;
    font-size: 4px;
  }
  .zero{
    bottom: 11px;
    left: 16px;
    height: 10px;
    width: auto;
  }
  .image{
    right: 0%;
    top: 0%;
    height: 100%;
    display: block;
    width: 35%;
    padding: 4px;
    box-sizing: border-box;
    &__iw{
      border-radius: 12px;
    }
    &__img{
      object-position: 50% 60%;
    }
  }
    @supports not (object-fit: cover) {
    .image {
      &__iw{

      }
      &__img{

      }
    }
  }
  .animation{
    width: 50%;
    right: 4px;
    top: 4px;
    bottom: 4px;
    .sqr{

    }
  }
}
