@use "sass:math";
.s320x50,
.s320x100,
.s728x90,
.s970x250,
.s1000x120{
  .logo{
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 20%;
    max-height: 34px;
    width: auto;
  }
  .content{
    top: 5%;
    left: 5%;
  }
  .row{
    &--second{
      padding-left: 20px;
    }
    &__tag{
      width: auto;
      height: 28px;
    }
    &__word{

    }
  }
  .details{
    bottom: 5%;
    left: 20%;
    font-size: 4px;
  }
  .image{
    right: 0%;
    top: 0%;
    height: 100%;
    display: block;
    width: 33%;
    padding: 4px;
    box-sizing: border-box;
    &__iw{

    }
    &__img{
      object-position: 50% 60%;
    }
  }
  .animation{
    top: 4px;
    height: calc(100% - 8px);
  }
}
