.s300x300{
  .content{
    top: 31.3%;
    left: 10.4%;
    background: #fff;
    box-shadow:
            0px 0px 0px 0px #fff,
            -4px 0px 0px 0px #fff,
            -11px -14px 0px 0px #fff,
            -11px 3px 0px 0px #fff;
  }
  .details{
    background: #fff;
    box-shadow:
      0px 0px 0px 0px #fff,

      0px 0px 0px 5px #fff,
      0px -14px 0px 5px #fff,
      0px -28px 0px 5px #fff,
      0px 14px 0px 5px #fff,
      0px 28px 0px 5px #fff;
  }
}
