@use "sass:math";
.s728x90{
  .content{
    top: 14%;
    left: 2.1%;
  }
  .row{
    .tag{
      width: auto;
      height: 25px;
      margin-right: 10px;
    }
    .word{
      width: auto;
      height: 21.63px;
      margin-right: 7px;
    }
    &.second{
      margin-top: 6px;
      padding-left: 40px;
    }
  }
  .details{
    bottom: 10%;
    left: 7.8%;
    font-size: 7px;
  }
  .image{
    width: 44.5%;
    &__iw{

    }
    &__img{
      object-position: 100% 69%;
      object-fit: cover;
    }
  }
  .animation{
    //--columns: 4!important;
	//--rows: 4!important;
  }
}
