.s320x480{
  .content{

  }
  .title{

    &__t{

    }
  }
  .description{

    &__t{

    }
  }
  .button{

  }
  .cloud{
    &--1,
    &--2{

    }
    &--1{

    }
    &--2{

    }
    &--3{

    }
    &--4{
      filter: blur(4px);
      width: 70%;
      bottom: -9.2474%;
      right: 51.701%;
    }
    &--5{

    }
    &--6{

    }
  }
  .house{
  }
  .person{

  }
}
