@use "sass:math";
html, body{
  margin: 0;
  padding: 0;
}
.click_area{
  text-decoration: none;
}
.debug{
  display: block;
  .banner{
    border: 1px solid red;
  }
  ~.banner{
    border: 1px solid red;
  }
}
.banner{
  position: relative;
  display: block;
  overflow: hidden;
  background: #c0ef4b;
  text-decoration: none;
  font-family: "Arial", "Verdana", sans-serif;
  span{
    display: block;
  }
  .wrapper{

  }
  .man{
    opacity: 0;
  }
  .logo{
    display: block;
  }
  .content{
    .br{
      display: none;
    }
    .logoTxt{
      width: auto;
    }
    &_txt{
      font-size: 0;
      svg{
        width: auto;
        display: inline-block;
      }
      &--1{

      }
      &--2{

      }
    }
  }
  .footnote{

    &_content{
      span{
        display: block;
      }
    }
  }
  .age{
    width: auto;
  }
}
