.s300x600{
  width: 300px;
  height: 600px;
}
.s300x600 .banner {

  div{

  }
  &__wrapper{
    width: 90%;
  }
  &__man{
    left: -4px;
  }
  &__logo{
    padding-top: 48px;
  }
  &__content{
    margin-top: -10px;
    gap: 16px;
    padding: 30px 18px;
    &_txt{
      font-size: 20px;
      &--1{

      }
      &--2{

      }
    }
  }
  &__footnote{
    font-size: 8px;
    padding-bottom: 22px;
    &_content{
      padding-left: 20px;
      span{

      }
    }
    &_age{
      font-size: 10px;
    }
  }
}
