@use "sass:math";
.s300x300,
.s300x250 {
  .wrapper{
    display: block;
    width: 88%;
    margin: 0 auto;
  }
  .man{
    z-index: 2;
    display: block;
    position: absolute;
    right: 7.7%;
    bottom: 0;
    height: 100%;
    width: auto;
  }
  .logo{
    position: relative;
    z-index: 1;
    width: 51%;
    margin-top: 8.2%;
    height: auto;
    &__rect{
      rx: 20px;
      ry: 20px;
    }
  }
  .content{
    position: relative;
    z-index: 1;
    background: #fff;
    color: #000;
    margin-top: 12px;
    border-radius: 14px;
    padding: 38px 17px 16px;
    &_txt{
      line-height: 1;
      svg{
        margin-right: 5px;
      }
      .logoTxt{
        &--black{
          display: inline-block;
        }
        &--color{
          display: none;
        }
      }
      &--1{
        margin-bottom: 19px;
        svg{
          &:first-child{
            display: block;
          }
        }
      }
      &--2{
        svg{
          display: block;
        }
      }
    }
  }
  .footnote{
    position: absolute;
    left: 6%;
    width: 88%;
    bottom: 16px;
    z-index: 1;
    color: #000;
    font-size: 5px;
    line-height: 1.25;
    &_content{
      span{
        display: block;
      }
    }
  }
  .age{
    right: 6%;
    bottom: 10%;
    position: absolute;
    display: block;
  }
}
