@use 'sass:math';
@function pxToCqw($px, $containerSize: 970) {
    @return #{math.div($px * 100, $containerSize)}cqw;
}
@function pxToCqh($px, $containerSize: 250) {
    @return #{math.div($px * 100, $containerSize)}cqh;
}

.banner{
    container-type: size;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(91deg, #0d0211 0%, #3a1b4b 12.72%, #110216 100%);
    width: 970px;
    height: 250px;
    .content{
        margin-left: pxToCqw(151);
        margin-bottom: pxToCqw(4);
        display: flex;
        flex-direction: column;
        gap: 2.0618cqw;
    }
    .title{
        width: 44.3298cqw;
    }
    .description{
        width: 41.2371cqw;
    }
    .button{
        width: 15.8762cqw;
    }
    .image{
        position: absolute;
    }
    .cloud{
        width: 100cqw;
        &__1{
            z-index: 20;
            left: pxToCqw(-126);
            top: pxToCqh(-178);
            width: pxToCqw(366);
            filter: blur(2px);
            transform: rotate(90deg);
        }
        &__2{
            z-index: 10;
            left: pxToCqw(-171);
            bottom: pxToCqw(-9);
            width: pxToCqw(366);
            filter: blur(2px);
            transform: rotate(90deg);
        }
        &__3{
            z-index: 40;
            left: pxToCqw(278);
            bottom: pxToCqw(-119);
            width: pxToCqw(335);
            filter: blur(4px);
        }
        &__4{
            z-index: 30;
            right: pxToCqw(32);
            bottom: pxToCqw(-99);
            width: pxToCqw(393);
            filter: blur(1.5px);
        }
        &__5{
            z-index: 50;
            right: pxToCqw(-16);
            bottom: pxToCqw(-34);
            width: pxToCqw(283);
            //transform: rotate(6deg);
        }
        &__6{
            z-index: 60;
            right: pxToCqw(-20);
            bottom: pxToCqw(-36);
            width: pxToCqw(290);
            //transform: rotate(6deg);
        }
    }
    .house{
        z-index: 10;
        right: pxToCqw(-190);
        bottom: pxToCqw(-3);
        width: pxToCqw(367);
    }
    .person{
        z-index: 20;
        right: pxToCqw(187);
        bottom: pxToCqw(80);
        width: pxToCqw(91);
        height: auto;
    }
}
