@use "sass:math";
html, body{
  margin: 0;
  padding: 0;
}
.click_area{
  text-decoration: none;
}
.banner{
  position: relative;
  display: block;
  background: #000;
  overflow: hidden;
  text-decoration: none;
  font-family: "Arial", "Verdana", sans-serif;
  span{
    display: block;
  }
}

.click_area {
  text-decoration: none;
  color: #eee;
}

.banner {
  position: relative;
}
.svgAnim{
  overflow: hidden;
  .pathRects{
    rect{
      fill: none;
      //stroke: blue;
      //stroke-width: 0.05;
    }
  }
  .snakeItems{
    .snakeItem{
      opacity: 0;
      fill: #c0ef4b;
    }
    .snakeHead{
      &.snakeHeadStart{

      }
      &.snakeHeadEnd{

      }
    }
  }
}
