@use "sass:math";
.s300x250 {
  width: 300px;
  height: 250px;
  .wrapper{

  }
  .man{

  }
  .logo{
    width: 45%;
    margin-top: 5%;
    &__rect{

    }
  }
  .content{
    margin-top: 12px;
    border-radius: 14px;
    padding: 26px 17px 14px;
    &_txt{

      svg{
        height: 16px;
      }
      .logoTxt{
        &--black{

        }
        &--color{

        }
      }
      &--1{
        margin-bottom: 14px;
        svg{
          &:first-child{

          }
        }
      }
      &--2{
        svg{

        }
      }
    }
  }
  .footnote{
    bottom: 12px;
    &_content{

      span{

      }
    }
  }
  .age{

  }
}
