.s300x250 {
  width: 300px;
  height: 250px;
  .svgAnim{
    width: 81%;
    transform: translateX(-50%);
    left: 50%;
    height: auto;
    position: absolute;
    top: 6%;
  }
  .logo{
    width: 86px;
    top: 30px;
    left: 28px;
    right: auto;
  }
  .age{
    width: 17px;
    bottom: 24px;
    right: 26px;
  }
  .footnote{
    font-size: 5px;
    line-height: 1.2;
    bottom: 22px;
    &_content{
      margin: 0 22px;
      span{
        display: block;
      }
    }
  }
}
